* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F8F0DF;
}

body {
    animation: fadeIn 1s ease-in-out;
}

h1 {
    background-color: #5C3D2E;
    color: #F8F0DF;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #5C3D2E;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; /* Decreased the gap for smaller screens */
    margin-top: 4rem; /* Decreased the margin for smaller screens */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}

#user-score,
#bot-score {
    font-size: 4rem; /* Adjusted font size for smaller screens */
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: #5C3D2E;
    color: #F8F0DF;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#msg:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media query for screens smaller than 600px (typical mobile devices) */
@media (max-width: 600px) {
    .choice {
        height: 120px;
        width: 120px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    h1 {
        font-size: 2rem; /* Adjusted font size for smaller screens */
    }

    #msg {
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .choices {
        flex-direction: column;
    }
}